*.dSYM
*.gcda
*.gcno
*.lo
*.log
*.o
*.swp
*.trs
.DS_Store
.deps
.dirstamp
.libs
.vagrant
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
doc
install-sh
libmeasurement_kit.la
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
mkpm_modules
stamp-h1
test-driver
test-suite.log
